body{
    /*background-color: #E9EFFD;*/
}
div.wrapper {
    /*outline-style: solid;*/
    width: 1380px;
    margin: auto;
}

/* ----------------- ЧАСТЬ HEADER -----------------------*/
/*header{
    outline-style: solid;
}*/
/*header nav{
    position: sticky;
    top: 10px;
    z-index: 1;
    border: 2px solid green;
}*/

/*header div.test{
    display: flex;
    justify-content: center;
}*/


/*header nav a{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: aqua;
    border: 1px solid red;
    border-radius: 20%;
}*/



/* ----------------- ЧАСТЬ MAIN -----------------------*/
main{
    outline-style: solid;

}
div.main{
    display: flex;
}

aside.global_nav{
    top:-1px;
    position: sticky;
    background: #4F52FF;
    height: 40px;
}

nav.global-nav{
    margin: auto;
    width: 500px;
    display: flex;
    height: 100%;
    justify-content: space-evenly;

}

nav.global-nav a{
    color: aliceblue;
    align-self: center;
}
/* ---------- left colomn ---------- */
aside.left{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-style: solid;
    padding: 50px;
}

aside.left nav{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 20px;
    top: 40px;
    position: sticky;
}

aside.left a{
    padding-bottom: 10px;
    margin: auto;
}


/* ---------- center colomn ---------- */
section{
    outline-style: solid;
}

article{
    outline-style: solid;
    text-align: justify;
    /*background: url('../images/html_elements.png')
*/
}


img.img-element{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

img.img-attribute{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


article.article-1 img{
    float: left;
    width: 250px;
    height: 250px;
}




/* ----------------- ЧАСТЬ FOOTER -----------------------*/
footer{
    outline-style: solid;
}













